@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,600;0,700;1,700&family=Roboto:ital,wght@0,700;0,900;1,400;1,700;1,900&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  display: flex;
  overflow: hidden;
  background-color: #686de0;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  background-color: #fafafa;
  width: 800px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1),
    0 6px 6px rgba(0, 0, 0, 0.1 green, blue, alpha);
  max-width: 90%;
  padding: 50px 20px;
  border-radius: 10px;
  text-align: center;
}

h3 {
  margin: 0;
  opacity: 0.5;
  letter-spacing: 2px;
}

.joke {
  font-size: 30px;
  letter-spacing: 1px;
  line-height: 40px;
  margin: 40px auto;
  max-width: 600px;
}

.btn {
  color: #fafafa;
  background-color: #9f68e0;
  border: 0;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1),
    0 6px 6px rgba(0, 0, 0, 0.1 green, blue, alpha);
  padding: 14px 40px;
  font-size: 16px;
  cursor: pointer;
}

.btn:focus{
  outline: 0;
}

.btn:active{
  transform: scale(0.98);
}